<h1>{{ clothes.name }}</h1>
<p>{{ clothes.description }}</p>
<p>Цена: {{ clothes.price }}</p>
<p>Цвет: {{ clothes.color }}</p>
<p>Размер: {{ clothes.size }}</p>
<p>Доступен к покупке? {% if clothes.is_exists %} Да {% else %} Нет {% endif %}</p>
<p>Категория: {{ clothes.category }}</p>
<p>Коллекции: 
    {% for collection in clothes.collection.all %}
        {{ collection }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>

{# Проверяем наличие фото перед отображением #}
{% if clothes.photo %}
    <img src="{{ clothes.photo.url }}" alt="{{ clothes.name }}">
{% else %}
    <p>Изображение отсутствует</p>
{% endif %}

<a href="{% url 'clothes_list' %}">Вернуться на главную</a>
<a href="{% url 'clothes_update' clothes.pk %}">Редактировать</a>
<a href="{% url 'clothes_delete' clothes.pk %}">Удалить</a>