{% extends 'base.html' %}
{% load static %}

{% block title %}{% if form.instance.pk %}Редактировать товар{% else %}Добавить товар{% endif %}{% endblock %}

{% block content %}
<h2 class="mb-4">{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} товар</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Назад</a>
</form>
{% endblock %}
