{% extends 'base.html' %}
{% load static %}

{% block title_name %}
    Создание заказа
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Создание заказа</h1>
    <form action="{% url 'basket_buy' %}" method="post">
        {% csrf_token %}
        {{ form_order.as_div }}
        <button type="submit" class="btn btn-outline-primary">Подтвердить заказ</button>
    </form>
    <a href="{% url 'basket_detail' %}" class="btn btn-outline-dark mt-3">Обратно к корзине</a>
</div>
{% endblock %}
